{%extends "base.html"%}

{%block content%}
    <div>
        <h1>My Tasks</h1>
        {%if user.is_authenticated %}
            {%if my_tasks|length == 0%}
                <p>You have no tasks</p>
            {%else%}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for task in my_tasks%}
                            <tr>
                                <td>{{task.name}}</td>
                                <td>{{task.start_date}}</td>
                                <td>{{task.end_date}}</td>
                                {%if task.is_completed == False%}
                                    <td><form method="post" action="{% url 'complete_task' task.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form>
                                    </td>
                                {%else%}
                                    <td>Done</td>
                                {%endif%}
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            {%endif%}
        {%endif%}
    </div>
{%endblock content%}