{%extends 'base.html'%}

{%block content%}
    <div>
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            <p>Username: <input type="text" name="username"></p>
            <p>Password: <input type="password" name="password"></p>
            <p><button>Login</button></p>
        </form>
    </div>
{%endblock content%}